:root {
    --color-main-bg: #282828;
    --color-secondary-bg: #3c3836;
    --color-secondary-bg-opac:rgba(60,56,54,0.5);
    --color-primary-font: #A89984;
    --color-secondary-font: #fbf1c7;
    --color-primmary-icon: #7C6F64;
    --color-secondary-icon: #fbf1c7;
    --color-primary: #8EC07C;
    --color-primary-hover: #689D6A;
    --color-secondary: #83A598;
    --color-secondary-hover: #458588;
    --color-info: #D3869B;
    --color-info-hover: #B16286;
    --color-warning: #FABD2F;
    --color-warning-hover: #D79921;
    --color-success: #B8BB26;
    --color-success-hover: #98971A;
    --color-danger: #FB4934;
    --color-danger-hover: #CC241D;
    --color-header-bg: #282828;
    --color-search-bg: #3c3836;
    --color-gray-font: gray;
}


.registr_container{


    height: 100vh;

    font-family: "Inter", sans-serif;

    margin: 0px auto;
    display: flex;

    .registr_container_left{

        width: 55vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .input_area_Zag{
            width: 80%;
            margin: 10px auto;
            font-family: "Inter", sans-serif;
            font-size: 25px;
            font-weight: 600;
        }

    }

}

.registr_container_dark{
    background-color: var(--color-main-bg);
}


@media screen and (min-width:60px) and (max-width:770px){
    .registr_container{

        .classNameInput{
            width: 70vw;
            margin: 0 auto;
        }

        .input_area{
            /*text-align: center;*/
            padding: 0;
            /*width: 70vw;*/

        }

        .registr_container_right{
            display: none;
        }
        .registr_container_left{
            width: 100vw;
            height: 0;
        }
    }
}